ion-content {
  --ion-background-color: var(--ion-color-primary-tint);
}

ion-item {
  --ion-background-color: var(--ion-color-light);
}

ion-grid {
  max-width: 416px;
  min-width: 320px;
}

.title {
  color: white;
  font-size: 40px;
}

.vertical-centerer {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  min-height: 100%;
}

a {
  color: white;
}

.invalidItem {
  --full-highlight-height: calc(var(--highlight-height) * var(--show-full-highlight));
  --inset-highlight-height: calc(var(--highlight-height) * var(--show-inset-highlight));
  --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-danger)));
}
